<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <!--<add key="enginaName" value="Microsoft Lili" />-->
    <!--<add key="voiceEngineName" value="IVONA 2 Joey" />-->
    <!--<add key="voiceEngineName" value="IVONA 2 Kendra" />-->
    <add key="voiceEngineName" value="IVONA 2 Eric" />

    <add key="sampleText" value="This example demonstrates a basic use of Speech Synthesizer, can you read a long sentences?" />
    <add key="outputWaveFileName" value="C:\\Test\\Sample8.wav" />
    <!--将需要读的文件放在下面，使用yml格式的好处就是其格式非常规整，处理起来方便至极-->
    <add key="inputFileName" value="g:\trans\script\courses\lessonOne.yml" />
  </appSettings>

</configuration>